* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1503792243040-7ce7f5f06085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=830&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  width: 760px;
  height: 40px;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  border-radius: 8px;
}

button:hover {
  /* background-color: brown; */
  background-color: #ff6e31;
}

.display {
  text-align: center;
  margin-top: 50px;
}

form {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.form-div {
  text-align: center;
  margin-top: 180px;
}

input {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #ccc;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid red;
  color: yellowgreen;
}

input:focus {
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid red;
}

p {
  color: aliceblue;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  color: rgb(229, 189, 87);
}

::placeholder {
  color: aliceblue;
  text-align: center;
}

.password {
  color: yellow;
}

.tag {
  text-align: center;
  color: beige;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Knewave", cursive;
}

footer {
  color: aliceblue;
  text-align: center;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  html {
    height: 100%;
  }

  button {
    width: 50%;
  }

  .form-div {
    text-align: center;
    margin-top: 20px;
  }

  .password {
    font-size: medium;
  }

  input:focus {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid red;
  }
}

/* write a media query for mobile screen*/
